
<section class="firmm4_footer1 cid-sk0JQp9rXo" once="footer" id="footer1-d">





  <div class="container">
      <div class="row">
          <div class="footer_col_logo">

              <div class="brand_wrap">
                  <h3 class="brand_name mb-0 display-5"><strong>Startup.</strong></h3>
              </div>
              <div class="contacts">
                  <p class="contacts_mail mbr-fonts-style display-4"><strong>E-mail:</strong> <a href="#" class="text-white">mobirise@company.com</a></p>
                  <p class="contacts_phone mbr-fonts-style display-4"><strong>Phone:</strong> <a href="#" class="text-white">+7 123 456 78 90</a></p>
              </div>

          </div>
          <div class="footer_col">
              <h5 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Services</strong>
              </h5>
              <ul class="list mbr-fonts-style display-4">
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Marketing</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">SEO Service</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Digital market</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Content create</a></li>
              </ul>
          </div>
          <div class="footer_col">
              <h5 class="mbr-section-subtitle mbr-fonts-style display-7">Customer Care</h5>
              <ul class="list mbr-fonts-style display-4">
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Contact Us</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">About Us</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">News &amp; Articles</a></li>
              </ul>
          </div>
          <div class="footer_col">
              <h5 class="mbr-section-subtitle mbr-fonts-style display-7">
                  <strong>Privacy</strong></h5>
              <ul class="list mbr-fonts-style display-4">
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Privacy Policy</a></li>
                  <li class="mbr-text item-wrap"><a href="#" class="text-white">Terms of Use</a></li>
                  <li class="mbr-text item-wrap"><a routerLink="/admin/signin" class="text-white">Admin Login</a></li>
              </ul>
          </div>
      </div>
  </div>
</section>

<section class="firmm4_footer3 cid-sk0JORQGEy" id="footer3-c">





  <div class="line"></div>

  <div class="container">
      <div class="row text-white justify-content-between">
          <div class="col-12 col-md-4 col-lg-5">
              <p class="mbr-text mbr-fonts-style display-4">
                  © Copyright iGAP. All Rights Reserved.
              </p>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
              <div class="social-list text-center">




              <div class="soc-item">
                      <a href="#" target="_blank">
                          <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                      </a>
                  </div><div class="soc-item">
                      <a href="#" target="_blank">
                          <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                      </a>
                  </div><div class="soc-item">
                      <a href="#" target="_blank">
                          <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                      </a>
                  </div><div class="soc-item">
                      <a href="#" target="_blank">
                          <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                      </a>
                  </div></div>
          </div>

      </div>
  </div>
</section>
<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
