<section class="features8  cid-sk0FdnFMbg" id="features8-4" style="background-color: gray;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 ">
        <app-admin-menus></app-admin-menus>
      </div>
      <div class="col-lg-9 ">
        <div class="row">
          <div class="col-lg-12">
            <h4 style="color:white;">Dashboard</h4>
            <hr >
          </div>
          <div class="col-3 btn btn-primary">
            <h6>Qualifications: 0</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
